.orders {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  .upper_half {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-bottom: 20px;
    form {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      z-index: 2;
      input,
      select,
      option {
        padding: 5px;
      }
      .btns {
        display: flex;
        gap: 20px;
        button {
          padding: 5px;
        }
      }
    }
    .chart {
      height: 50vh !important;
      width: 45% !important;
      display: flex;
    }
  }
}
